<%= form_for @product do |f| %>
	<% if @product.errors.any? %>
		<div id = "product_form_error">
			<h3>Can't save due to <%= pluralize(@product.errors.count, "error") %></h3>
			<ul>
				<% @product.errors.full_messages.each do |error_message| %>
					<li><%= error_message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class = "field" >
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class = "field" >
		<%= f.label :description %>
		<%= f.text_field :description %>
	</div>
	<div class = "field" >
		<%= f.label :price_in_cents %>
		<%= f.text_field :price_in_cents %>
	</div>
	<div class = "field">
		<%= f.label :image %>
		<%= f.file_field :image1 %>
	</div>
	<div class = "actions">
		<%= f.submit %>
	</div>
<% end %>