<h5>Reviews for <%= @product.name %></h5>
<% if @product.reviews.count > 0 %>
	<% @product.reviews.reverse.each do |review|  %>
		<div class = "review">
			<p class = "reviewtext"> <%= review.comment %> </p>
			<br>
			<p> rated : <%= review.rating %> </p>
			<% if review.user != nil  %>
				<p> by <strong> <%= review.user.nick %></strong> on <em> <%= review.created_at %></em> </p> 
				<% if review.user_id == current_user.id %>
					<p> <%= link_to "[x]", product_review_path(@product.id, review.id), :method => :delete %></p>
				<% end  %>		
			<% end  %>	
			</div>
	<% end %>
<% else %>
		<em> no reviews yet! </em>
<% end  %>
