<%= form_for([@product, @review], :remote => true) do |f| %>
<div class = "newreview"> 
<% if @review.errors.any?  %>
	<div id = "error_explanation">
		<ul>
			<%= @review.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end  %>


<div class = "field">
	<%= f.text_area :comment, :size => "60x4" %>
</div>
<div class = "radio_field">
	<%= f.radio_button :rating, -1 %>
	<%= f.label :rating_dislike, "Dislike" %>
	<%= f.radio_button :rating, 0 %>
	<%= f.label :rating_indifferent, "Indifferent" %>
	<%= f.radio_button :rating, 1 %>
	<%= f.label :rating_like, "Like" %>
</div>
<div class = "actions"> 
	<%= f.submit %> 
</div>
</div>
<% end  %>

<script type="text/javascript">
	$('form')
	.on('ajax:beforeSend',function(){ $("input[type='submit']").val("Saving...").attr('disabled','disabled');})
	.on('ajax:complete',function(){ $("input[type='submit']").val("Submit").removeAttr('disabled');})
</script>