<div class = "product_info">
	<div class = "image_gallery">
		<div class = "five_image_container">
			<%= render "product_images" %>
		</div>
	</div>
	<h4><%= @product[:name] %></h4>
	<p><%= @product[:description] %></p>
	<p>$<%= @product.formatted_price %></p>
	<p>by <em><%= User.find(@product.user_id).nick %></em></p> 
	<% if current_user %>
		<%  if @product.user_id == current_user.id %>
			<p> <%= link_to "[x]", @product, :method => :delete %>
			<%= link_to "[e]", edit_product_url %></p>
		<%  end  %>
	<% end  %>
</div>
<% unless current_user %>
<p><em>Log in to read and post reviews</em><p>
<% end %>

<div class = "rating">
	<% if @product.reviews.count > 2 %>
	average approval: <%= @product.average_rating %>%
	<% end %>
</div>

<% if current_user %>
<div class = "reviews">
	<%= render "reviews" %> 
</div>
	<%= render "review_form" %> 
<% end %>

<p>
	<%= link_to "Index", products_url %>
</p>

