<h4><%= @product[:name] %></h4>
<%= @product[:description] %>
$<%= @product.formatted_price %>
<p>
	<%= link_to "Delete this product", @picture, :method => :delete %>
<p>
	<%= link_to "Index", products_url %>
</p>